{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Data{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for params in currentparams %}
	<h1> Current Set Parameters: </h2>
  	<h2> Temperature = {{params['temperature']}} °C </h2>
  	<h2> Rh = {{params['rh']}} % </h2>
	<h2> CO2 = {{params['co2']}} % </h2>
{% endfor %}
  <h1> Current Readings: </h2>
  <h2> Temperature = n/a °C </h2>
  <h2> Rh = n/a % </h2>
  <h2> CO2 = n/a % </h2>
  <h1> Graph Data </h2>
  
  <canvas id="myChart" width="400" height="400"></canvas>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>
	  
	var ctx = document.getElementById("myChart").getContext("2d");

	var datetime = {{datetime | safe}};
	var rh = {{rh}};
	var o2 = {{o2}};
	var co2 = {{co2}};
	var airspeed = {{airspeed}};
	var temperature = {{temperature}};
		
	var data = {
		labels: datetime,
		datasets: [
			
			{
				label: "Relative Humidity (%)",
				fill:false,
				backgroundColor:"#a8d9f7",
				borderColor: "#3e95cd",
				data: rh
			    },
			{
				label: "Oxygen Concentration (%)",
				fill:false,
				borderColor: "#f6ab3d",
				backgroundColor: "#f3edb3",
				data: o2
			    },
			{
				label: "Carbon Dioxide Concentration (%)",
				fill:false,
				borderColor: "#014d3f",
				backgroundColor:"#a1cc8a",
				data: co2
			    },
			{
				label: "Airspeed (ms-1)",
				fill:false,
				borderColor: "#c7cccf",
				data: airspeed
			    },
			{
				label: "Temperature (C)",
				fill:false,
				borderColor: "#ff3f00",
				backgroundColor:"#e37124",
				data: temperature
			    }
			]
		    };
	var options = {
	  title:{
	    display:true,
	    text:'Enviromental Sensor Data'
	  },
	  hover:{
	    mode:'index',
	    intersect:true
	  },
	};
	
	/*var myLineChart = new Chart(ctx).Line(data=data, options=options); */
	var myLineChart = new Chart(ctx, {type: 'line', data:data, options:options}); 
		
		
  </script>
  
{% endblock %}

