{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Data{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for params in currentparams %}
	<h1> Current Set Parameters: </h2>
  	<h2> Temperature = {{params['temperature']}} °C </h2>
  	<h2> Rh = {{params['rh']}} % </h2>
	<h2> CO2 = {{params['co2']}} % </h2>
{% endfor %}
  <h1> Current Readings: </h2>
  <h2> Temperature = n/a °C </h2>
  <h2> Rh = n/a % </h2>
  <h2> CO2 = n/a % </h2>
  <h1> Graph Data </h2>
  
  <canvas id="myChart" width="400" height="400"></canvas>  

  <script>
	  
	var ctx = document.getElementById("myChart").getContext("2d");

	var datetime = {{datetime}};
	var rh = {{rh}};
	var o2 = {{o2}};
	var co2 = {{co2}};
	var airspeed = {{airspeed}};
	var temperature = {{temperature}};
		
	var data = {
		labels: datetime,
		datasets: [
			
			{
				label: "Relative Humidity (%)",
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: rh
			    },
			{
				label: "Oxygen Concentration (%)",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: o2
			    },
			{
				label: "Carbon Dioxide Concentration (%)",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: co2
			    },
			{
				label: "Airspeed (ms-1)",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: airspeed
			    },
			{
				label: "Temperature (C)",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: temperature
			    }
			]
		    };
		var myLineChart = new Chart(ctx).Line(data);
  </script>
  
{% endblock %}

