{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Data{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="datacontainer">
    <div>
    {% for params in currentparams %}
	  <h1> Current Set Parameters: </h1>
	  <h2> Temperature = {{params['temperature']}} °C </h2>
	  <h2> Rh = {{params['rh']}} % </h2>
	  <h2> CO2 = {{params['co2']}} % </h2>
    {% endfor %}
    </div>
    <div>
      <h1> Current Readings: </h2>
      <h2> Temperature = {{temp_current[0]}} °C </h2>
      <h2> Rh = {{rh_current[0]}} % </h2>
      <h2> CO2 = {{co2_current[0]}} %</h2>
      {% if airspeed_current[0] < 6 %}
      <h2 class="errorformat"> Airspeed = {{airspeed_current[0]}} mph </h2>
      {% else %}
      <h2> Airspeed = {{airspeed_current[0]}} mph </h2>
      {% endif %}
      <h2> O2 = {{o2_current[0]}} %</h2>
    </div>
    <div>
      <h1> Relay States: </h2>
      <h2> Heater = {{heaters_current[0]}} </h2>
      <h2> Humidifier = {{humidifier_current[0]}}</h2>
      <h2> CO2 = {{co2Solenoid_current[0]}}</h2>
    </div>
  </div>
  <h1> Graph Data </h2>
  <form method="post">
    <label for="start">Start date:</label>
    <input type="date" id="start" name="date-start"
       value={{start}}>
    <label for="start">End date:</label>
    <input type="date" id="end" name="date-end"
       value={{end}} >
       <input type="submit">
  </form>
  <canvas id="myChart" width="400" height="400"></canvas>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

  <script>
	  
	var ctx = document.getElementById("myChart").getContext("2d");

	var datetime = {{datetime | safe}};
	var rh = {{rh}};
	var o2 = {{o2}};
	var co2 = {{co2}};
	var airspeed = {{airspeed}};
	var temperature = {{temperature}};
	var heater_list = {{heater_list}};
	var humidifier_list= {{humidifier_list}};
	var co2Solenoid_list = {{co2Solenoid_list}};
	console.log(co2Solenoid_list[0])
		
	var data = {
		labels: datetime,
		datasets: [
			
			{
				label: "Relative Humidity (%)",
				fill:false,
				lineTension: 0,
				backgroundColor:"#a8d9f7",
				borderColor: "#3e95cd",
				data: rh
			    },
			{
				label: "Oxygen Concentration (%)",
				fill:false,
				lineTension: 0,
				borderColor: "#f6ab3d",
				backgroundColor: "#f3edb3",
				data: o2
			    },
			{
				label: "Carbon Dioxide Concentration (%)",
				fill:false,
				lineTension: 0,
				borderColor: "#014d3f",
				backgroundColor:"#a1cc8a",
				data: co2
			    },
			{
				label: "Airspeed (ms-1)",
				fill:false,
				lineTension: 0,
				borderColor: "#c7cccf",
				data: airspeed
			    },
			{
				label: "Temperature (C)",
				fill:false,
				borderColor: "#ff3f00",
				backgroundColor:"#e37124",
				data: temperature
			    },
			{
				label: "Heater",
				fill:true,
				steppedLine: true,
				pointRadius: 0,
				borderColor: "rgba(227,113,36,0.5)",
				backgroundColor:"rgba(227,113,36,0.5)",
				data: heater_list
			      }, 
			{
				label: "CO2 Valve",
				fill:true,
				steppedLine: true,
				pointRadius: 0,
				borderColor: "rgba(161,204,138,0.5)",
				backgroundColor:"rgba(161,204,138,0.5)",
				data: co2Solenoid_list
			      }, 
			{
				label: "Humidifier",
				fill:true,
				steppedLine: true,
				pointRadius: 0,
				borderColor: "rgba(168,217,247,0.5)",
				backgroundColor:"rgba(168,217,247,0.5)",
				data: humidifier_list
			      }
			]
		    };
	var options = {
	  title:{
	    display:true,
	    text:'Enviromental Sensor Data'
	  },
	  scales:{
	    xAxes: [
	      {
		type: "time",
		time:{
		  format:"%YYYY-%MM-%DD %hh:%mm:%ss"
		},
		
		scaleLabel: {
		  display: true, 
		  labelString: "Time"
		},
		position: "bottom"
	      }
	    ], 
	  yAxes: [
	      {ticks:{
		 beginAtZero:true}
		}
	      ]
	  },
	};
	
	/*var myLineChart = new Chart(ctx).Line(data=data, options=options); */
	var myLineChart = new Chart(ctx, {type: 'line', data:data, options:options}); 
		
		
  </script>
  
{% endblock %}

